@font-face {
    font-family: 'bebasNueBold'; /*a name to be used later*/
    src: url('./fonts/BebasNeueBold.otf'); /*URL to font*/
}
@font-face {
    font-family: 'bebasNueRegular'; /*a name to be used later*/
    src: url('./fonts/BebasNeue Regular.otf'); /*URL to font*/
}
@font-face {
    font-family: 'Gafata'; /*a name to be used later*/
    src: url('./fonts/gafata.otf'); /*URL to font*/
}

@media (min-width: 0px) and (max-width:999px){
	 table {
     	max-width: 60%;
     }

    .image-wrapper{
    	padding:5%;
     }
	.show-mobile {
        display: block;
        max-width:80%;
        position:relative;
        margin:auto;
     }
      .hide-mobile {
        display: none;
     }
    
     
}


/* BEGIN NORMAL BROWSER STYLINGS */
@media  (min-width:1000px){
	.show-mobile {
        display: none;
     }
      .hide-mobile {
        display: block;
     }
}

/*
a{
	text-decoration: none;
	-webkit-transition: ls ease;
	-moz-transition: ls ease;
	-o-transition: ls ease;
	transition: ls ease;
	display:block;
}

a:hover{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
*/
a{

}

a:hover img{
	display:none;
}

body{
	margin:0px;
	padding:0px;
	background-color:#ecf0f1;
}

h2 {
	font-family:Gafata;
	font-size: 275%;
	color:#1d1d1d;
}

table {
	position: relative;
	width: auto;
	max-width:80%;

	/* centered */
	margin: auto;
}

.about-body{
	font-family:Gafata;
	font-size: 175%;
	color:#666666;
}

.arrow-down-blue {
        position:relative;
        top:0px;
        margin-left:auto;
        margin-right:auto;
        padding-top:0px;
        width:0;
        height:0;
        border-left:20px solid transparent;
        border-right:20px solid transparent;
        border-top:20px solid #3498db;
}


.arrow-down-orange {
        position:relative;
        top:0px;
        margin-left:auto;
        margin-right:auto;
        padding-top:0px;
        width:0;
        height:0;
        border-left:20px solid transparent;
        border-right:20px solid transparent;
        border-top:20px solid #EB6F65;
}

.arrow-down-white {
        position:relative;
        top:0px;
        margin-left:auto;
        margin-right:auto;
        padding-top:0px;
        width:0;
        height:0;
        border-left:20px solid transparent;
        border-right:20px solid transparent;
        border-top:20px solid #ecf0f1;
}

.break-image{
	margin:auto;
	position:relative;
	max-width:25%;
	display:block;
}

.design {
	background-color:#3498db;
	padding-bottom:2%;
	margin:0px;
	color:#ecf0f1 !important;

}

.design-body {
	color:#ecf0f1;
	font-family:Gafata;
	font-size: 175%;
}

.experience{
	margin:auto;
	width:auto;
	max-width:90%;
}


.header{
	position: relative;
	font-family: Tahoma, Verdana, sans-serif;
	color:#ecf0f1;
	margin:auto;
	text-align: center;
}
.header-image-wrapper{
	display:block;
	margin:auto;
	width:auto;
	max-width: 50%;
}

.header-links{
	display: none;
}

a:hover .header-links{
	display:block;
}

.header-wrapper{
	position:relative;
}


.heading-top{
  font-family: Tahoma, Verdana, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  position: relative;
  display:block;
  width: auto;
  max-width: 75%;
	/*center within div*/
  text-align: center;
	/* centered */
	margin: auto;
	color: #ecf0f1;
}

.hide img:last-child{
	display:none;
}
.hide:hover img:first-child{display:none}
.hide:hover img:last-child{display:block}

.item{
	font-family:Gafata;
	font-size: 175%;
	color:#666666;
}

.item-section{
	position:relative;
	width:auto;
	max-width:98%;

}
.image-wrapper {
position: relative;
}

.info-container{
	margin:auto;
	width:auto;
	max-width:90%;
	position:relative;
}


.landing{
	background-color: #eb6f65;
	width: 100%; 
	height: 120%; 
	position: relative; 
	padding: 0; 
	margin: 0;
}

.min {
	max-width:50%;
}

.my-slider{
	position:relative;
	width:100% !important;
	overflow:auto;
	padding:0px;
	margin:0px;

}

.my-slider ul{
	margin:0px;
	padding:0px;
}

.my-slider li{
	list-style: none;
	margin:0px;
	padding:0px;
}

.my-slider ul li{
	float:left;
	padding:0px;
	margin:0px;
	min-height: 450px;
	-webkit-background-size:100% auto;
	-moz-background-size: 100% auto;
	-ms-background-size:100% auto;
	background-size:100% auto;
	background-position-y:-75px;
	box-shadow:inset 0 -3px 6px rgba(0,0,0,.1);

}


td .padded {
	padding:5%;

}

.scale-image{
  display:block;
  margin: auto;
  width: auto;
  max-width: 75%;
  position:relative;
}

.section-header{
	font-family: bebasNueBold;
	font-size: 500%;
	color: #1d1d1d;
	text-align:left;

}


