a{
	text-decoration: none;
	-webkit-transition: ls ease;
	-moz-transition: ls ease;
	-o-transition: ls ease;
	transition: ls ease;
	display:block;
}

a:hover{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.image-wrapper {
position: relative;
}
.scale-image{
  display: block;
	margin: auto;
  width: auto;
  max-width: 75%;
}

.header-wrapper{
	position:relative;
}

table {
	position: relative;
	width: auto;
	display:block;
	max-width:30%;
	align-items: center;

	/* centered */
	margin: auto;
}

.heading-top{
  font-family: Tahoma, Verdana, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  position: relative;
  display: block;
  width: auto;
  max-width: 75%;
	/*center within div*/
  text-align: center;
	/* centered */
	margin: auto;
	color: #333333;
}
